.custom-button {
  position: relative;
  background: white;
  color: black;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  border-radius: 0.375rem;
  font-weight: bold;
  transition: background-color 0.2s, transform 0.2s;
  display: inline-block; /* Ensure the button fits the text */
  border: none; /* Remove default border */
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
}

.custom-button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(to right, #7e22ce, #ec4899);
  border-radius: 0.375rem;
  z-index: -1;
}

.custom-button:hover {
  transform: scale(1.05);
}

.custom-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(126, 34, 206, 0.5);
}
